.buttons {
    top: 45%;
    left: 30%;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
}

#new-order, #existing-orders {
    display: flex;
    justify-content: space-between;
}

button {
    width: 200px;
    height: 50px;
}