.buttons{
    top: 40%;
    left: 25%;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    border: 10px solid black;
    border-radius: 2%;
    padding: 5%
}


#new-order, #existing-orders {
    display: flex;
    justify-content: space-between;
}

button {
    width: 200px;
    height: 50px;
}